{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<h1>login</h1>
<form method="post">
    <label>email</label></br>
    <input name="email" required></br>
    <label>password</label></br>
    <input name="password" type="password" required></br>
    {% include "csrf_token.html" %}
    <button type="submit">sign in</button>
</form>
<a href="{{ url_for('create_account') }}">signup here</a>
<a href="{{ url_for('reset_password') }}">forgot password</a>
{% endblock %}
