{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<form method="post">
    <label>old password</label></br>
    <input name="password_old" type="password" required></br>
    <label>new password</label></br>
    <input name="password_new" type="password" required></br>
    <label>confirm password</label></br>
    <input name="password_confirm" type="password" required></br>
    {% include "csrf_token.html" %}
    <button type="submit">change password</button>
</form>
{% endblock %}
