{% extends 'layouts/with_nav.html' %}

{% block title %}{% endblock %}

{% block stylesheets %}
<style>
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>
{% endblock %}

{% block content %}
<div class="container">

    <h1>roles</h1>

    <table class="table table-striped table-bordered">
        <tr>
            <th scope="col">id</th>
            <th scope="col">role name</th>
            <th scope="col">privileges</th>
            <th scope="col" colspan="2">actions</th>
        </tr>
        {% for u in data %}
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.privileges}}</td>

            <td><a class="btn btn-link" href="{{ url_for('role.update', id=u.id )}}">modify</a></td>

            <form action="{{ url_for('role.delete', id=u.id )}}" method='post'>
                {% include "includes/csrf_token.html" %}
                <td><button class="btn btn-link" type="submit">delete</button></td>
            </form>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('role.insert') }}">insert role</a>

</div>
{% endblock %}
