{% extends 'layouts/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">

    <h1>register</h1>
    <form method="post">
        <label class="form-label">username</label>
        <input class="form-control" name="username" required>

        <label class="form-label">password</label>
        <input class="form-control" name="password" type="password" required>

        <label class="form-label">confirm password</label>
        <input class="form-control" name="password_confirm" type="password" required>

        {% include "includes/jwt_input.html" %}
        {% include "includes/csrf_token.html" %}
        <button class="btn btn-primary" type="submit">create account</button>
    </form>

</div>
{% endblock %}
