{% extends 'layouts/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">

    <form method="post">
        <label>new password</label></br>
        <input name="password_new" type="password" required></br>
        <label>confirm password</label></br>
        <input name="password_confirm" type="password" required></br>
        {% include "jwt_input.html" %}
        {% include "includes/csrf_token.html" %}
        <button type="submit">reset password</button>
    </form>

</div>
{% endblock %}
