{% extends 'layouts/with_nav.html' %}

{% block title %}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="container">

    <form method='post' enctype='multipart/form-data'>

        <label>project name</label></br>
        <input name="name" required></br>

        <label>project image</label></br>
        <input name='project_img' type='file' required></br>

        {% include "includes/csrf_token.html" %}<br>
        <button type="submit">create project</button>

    </form>
</div>
{% endblock %}
