{% extends 'layouts/with_nav.html' %}

{% block title %}{% endblock %}

{% block stylesheets %}
<style>
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>
{% endblock %}

{% block content %}
<div class="container">

    <h1>{{ target.name }}</h1>
    <p>owner: {{target.creator.name }}</p>
    <p>created on: {{target.created_on }}</p>

    <h2>files</h2>
    <ul>
        {% for f in target.list_files() %}
        <a href="{{ url_for('project.file', id=target.id, filename=f) }}">{{f}}</a></br>
        {% endfor %}
    </ul>

    <a href="{{ url_for('project.list' ) }}">back to listing</a>

</div>
{% endblock %}
