{% extends 'layouts/with_nav.html' %}

{% block title %}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="container">

    <ul class="list-inline">
        <li class="list-inline-item"><h3>{{ target.name }} ({{target.status}})</h3></li>
        <li class="list-inline-item"><a class="ms-3" href="{{ url_for('project.update', id=target.id) }}">edit</a></li>
        <li class="list-inline-item"><a class="text-danger ms-3" href="{{ url_for('project.delete', id=target.id) }}">delete</a></li>
    </ul>
    <hr>

    <div class="row mt-3">
        <div class="col">
            <ul>
                <li>user: {{ target.creator.name }}</li>
                <li>status: {{ target.status }}</li>
                <li>created on: {{ target.created_on|from_datetime }}</li>
                <li>started on: {{ target.started_on|from_datetime }}</li>
                <li>updated on: {{ target.updated_on|from_datetime }}</li>
                <li>ended on: {{ target.ended_on|from_datetime }}</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>customer: {{ target.customer_full }}</li>
                <li>company: {{ target.company_full }}</li>
                <li>outsourced_to: {{ target.outsourced_to }}</li>
            </ul>
        </div>

    </div>

    <table class="table">
        <thead>
                <th>file</th>
                <th>size in bytes</th>
                <th>ctime (created)</th>
                <th>mtime (modified)</th>
                <th>atime (accessed)</th>
        </thead>
        <tbody>
        {% for f in target.list_subdir() %}
            <tr>
                <td><a href="{{ url_for('project.file', id=target.id, filename=f) }}">{{f}}</a></td>
                <td>{{ target.stat_file(f).st_size }}</td>
                <td>{{ target.stat_file(f).st_ctime|from_timestamp }}</td>
                <td>{{ target.stat_file(f).st_mtime|from_timestamp }}</td>
                <td>{{ target.stat_file(f).st_atime|from_timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('project.list' ) }}">back to listing</a>

</div>
{% endblock %}
