{% extends 'layouts/with_nav.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">

    <h1>users</h1>
    <table class="table">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>role</th>
            <th colspan="2">actions</th>
        </tr>
        {% for u in data %}
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.role}}</td>
            <td><a href="{{ url_for('user.mod', id=u.id )}}">modify</a></td>
            <td><a href="{{ url_for('user.del', id=u.id )}}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
