{% extends 'layouts/with_nav.html' %}

{% block title %}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="container">

    <h1>{{ target.name }}</h1>
    <ul>
        <li>owner: {{target.creator.name }}</li>
        <li>created on: {{target.created_on }}</li>
    </ul>

    <h2>files</h2>
    <table class="table">
        <thead>
            <tr>
                <th>file</th>
                <th>size in bytes</th>
                <th>ctime (created)</th>
                <th>mtime (modified)</th>
                <th>atime (accessed)</th>
            </tr>
        </thead>
        <tbody>
        {% for f in target.list_subdir() %}
            <tr>
                <td><a href="{{ url_for('project.file', id=target.id, filename=f) }}">{{f}}</a></td>
                <td>{{ target.stat_file(f).st_size }}</td>
                <td>{{ target.stat_file(f).st_ctime|from_timestamp }}</td>
                <td>{{ target.stat_file(f).st_mtime|from_timestamp }}</td>
                <td>{{ target.stat_file(f).st_atime|from_timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('project.list' ) }}">back to listing</a>

</div>
{% endblock %}
