{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="flashToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto">Flask-Arch</strong>
            <small>1 second ago.</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">

            {% for category, message in messages %}
            <div>
                {% if category == 'err' %}
                <b style="color:red">{{ message }}</b>
                {% elif category == 'ok' %}
                <b style="color:green">{{ message }}</b>
                {% elif category == 'warn' %}
                <b style="color:orange">{{ message }}</b>
                {% else %}
                <b>{{ message }}</b>
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<script src="/static/toastFlash.js"></script>
{% endif %}
{% endwith %}
