<!--
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Top Navbar" id="topNavbar">
-->
<nav class="navbar navbar-expand-sm mb-3 py-3 px-5" aria-label="Top Navbar" id="topNavbar">
<div class="container-fluid">
    <a class="navbar-brand" href="#">flask-arch</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="topNavdropdown1" data-bs-toggle="dropdown" aria-expanded="false">sys</a>
                <ul class="dropdown-menu" aria-labelledby="topNavdropdown1">
                    <li><a class="dropdown-item" href="{{ url_for('user.list') }}">list users</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('role.list') }}">list roles</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="topNavdropdown2" data-bs-toggle="dropdown" aria-expanded="false">projects</a>
                <ul class="dropdown-menu" aria-labelledby="topNavdropdown2">
                    <li><a class="dropdown-item" href="{{ url_for('project.insert') }}">new project</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('project.list') }}">list projects</a></li>
                </ul>
            </li>
            <!--
                <li class="nav-item">
                <a class="nav-link disabled">disabled</a>
                </li>
            -->
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.profile') }}">my profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">logout</a>
            </li>
        </ul>
    </div>

</div>
</nav>
